@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: $font-tech;
  overflow-x: hidden;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
}
