:root {
  // Light Theme (Default)
  --bg-color: #f0f0f0;
  --bg-color-rgb: 240, 240, 240;
  --card-bg-color: #ffffff;
  --card-bg-color-rgb: 255, 255, 255;
  --text-color: #050505;
  --text-color-rgb: 5, 5, 5;
  --red-color: #ff3300;
  --red-color-rgb: 255, 51, 0;
  --line-color: #d1d1d1;
  --line-color-rgb: 209, 209, 209;
  --faded-ink: rgba(5, 5, 5, 0.05);
}

body.dark-theme {
  // Dark Theme
  --bg-color: #050505;
  --bg-color-rgb: 5, 5, 5;
  --card-bg-color: #1a1a1a;
  --card-bg-color-rgb: 26, 26, 26;
  --text-color: #f0f0f0;
  --text-color-rgb: 240, 240, 240;
  --red-color: #ff6600;
  --red-color-rgb: 255, 102, 0;
  --line-color: #333333;
  --line-color-rgb: 51, 51, 51;
  --faded-ink: rgba(240, 240, 240, 0.05);
}
