<footer>
  <div class="container footer-grid">
    <div>
      <div class="f-large">Construct<br />Your Sound.</div>
      <p style="margin-top: 20px; color: #999; max-width: 300px">
        Blueprint Audio Labs provides industry standard audio architecture for professional use
        cases.
      </p>
    </div>
    <div style="display: grid; grid-template-columns: 1fr 1fr">
      <div class="f-links">
        <div style="color: white; margin-bottom: 15px; font-weight: 700">INDEX</div>
        <a href="#">Catalog</a>
        <a href="#">Artists</a>
        <a href="#">Pricing</a>
        <a href="#">Login</a>
      </div>
      <div class="f-links">
        <div style="color: white; margin-bottom: 15px; font-weight: 700">LEGAL</div>
        <a href="#">Terms_v2.0</a>
        <a href="#">Privacy_Policy</a>
        <a href="#">Licenses</a>
      </div>
    </div>
  </div>
  <div
    class="container"
    style="
      margin-top: 60px;
      color: var(--line-color);
      font-size: 0.75rem;
      display: flex;
      justify-content: space-between;
    "
  >
    <div>© 2025 BLUEPRINT AUDIO LABS</div>
    <div>SYSTEM: ONLINE</div>
  </div>
</footer>
