<div class="spec-card">
  <div class="spec-img-box">
    <img [src]="spec.imageUrl" class="card-img" />
    <div class="overlay-gradient"></div>
    <div class="play-btn-neon" (click)="playSong()">
      <i class="fa-solid fa-play"></i>
    </div>
  </div>

  <div class="card-content">
    <div class="spec-header-mini">
      <span>{{ spec.type }}</span>
    </div>

    <div class="spec-title">{{ spec.title }}</div>

    <div class="card-meta">
      <span class="tag-glass">{{ spec.bpm }} BPM</span>
      <span class="tag-glass">{{ spec.key }}</span>
      @for (tag of spec.tags; track tag) {
        <span class="tag-glass">{{ tag }}</span>
      }
    </div>

    <div class="spec-footer">
      <div class="spec-price">${{ spec.price }}</div>
      <i class="fa-solid fa-cart-plus cart-btn" (click)="addToCart($event)"></i>
    </div>
  </div>
</div>
