@use '../../styles/variables' as *;

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(var(--bg-color-rgb), 0.95);
  border-bottom: 1px solid var(--text-color);
  backdrop-filter: blur(5px);
}

.nav-inner {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  height: 70px;
  align-items: center;
}

.nav-brand {
  font-family: $font-head;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 1.2rem;
  padding-left: 30px;
}

.nav-brand span {
  color: var(--red-color);
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 100%;
  align-items: center;
  border-left: 1px solid var(--line-color);
  border-right: 1px solid var(--line-color);

  a {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
    position: relative;
    color: var(--text-color);
    text-decoration: none;

    &::before {
      content: '>';
      position: absolute;
      left: -15px;
      opacity: 0;
      color: var(--red-color);
      transition: 0.2s;
    }

    &:hover::before,
    &.active::before {
      opacity: 1;
      left: -10px;
    }

    &.active {
      color: var(--red-color);
    }
  }
}

.header-actions {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  gap: 20px;
  align-items: center;

  .icon-btn {
    background: transparent;
    border: none;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: var(--red-color);
    }
  }
}

@media (max-width: 900px) {
  .nav-inner {
    grid-template-columns: 1fr auto;
  }

  .nav-links {
    display: none;
  }

  .header-actions {
    padding-right: 10px;
  }
}
