<nav>
  <div class="nav-inner">
    <div class="nav-brand">BLUEPRINT<span>AUDIO</span>_LABS</div>
    <div class="nav-center">
      <a routerLink="/" class="nav-link">Home</a>
      <a routerLink="/battles" class="nav-link">Battles</a>
      <a href="#" class="nav-link">Producers</a>
      <a href="#" class="nav-link">Services</a>
    </div>
    <div class="nav-right">
      <app-theme-toggle></app-theme-toggle>
      <span class="tag-outline">CART [0]</span>
      <a href="#" class="nav-link" style="font-weight: 700">Log_In</a>
    </div>
  </div>
</nav>
