@use '../../styles/variables' as *;

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: rgba(var(--bg-color-rgb), 0.95); // Assuming bg-color-rgb is defined in _theme.scss
  border-bottom: 1px solid var(--text-color);
  backdrop-filter: blur(5px);
}
.nav-inner {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  height: 70px;
  align-items: center;
}

.nav-brand {
  font-family: $font-head;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 1.2rem;
  padding-left: 30px;
}
.nav-brand span {
  color: var(--red-color);
}

.nav-center {
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 100%;
  align-items: center;
  border-left: 1px solid var(--line-color);
  border-right: 1px solid var(--line-color);
}
.nav-link {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  position: relative;
}
.nav-link::before {
  content: '>';
  position: absolute;
  left: -15px;
  opacity: 0;
  color: var(--red-color);
  transition: 0.2s;
}
.nav-link:hover::before {
  opacity: 1;
  left: -10px;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  gap: 20px;
  align-items: center;
}

@media (max-width: 900px) {
  .nav-inner {
    grid-template-columns: 1fr auto;
  }
  .nav-center {
    display: none;
  }
  .nav-right {
    padding-right: 10px;
  }
}
