@use '../../styles/variables' as *;

.hero {
  padding-top: 70px;
  /* Nav offset */
  min-height: 90vh;
  display: grid;
  grid-template-columns: 60% 40%;
  border-bottom: 1px solid var(--text-color);
}

.hero-data {
  padding: 80px 60px;
  border-right: 1px solid var(--line-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* Decorative Barcode */
.barcode {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 150px;
  height: 30px;
  background: repeating-linear-gradient(
    90deg,
    var(--text-color),
    var(--text-color) 2px,
    transparent 2px,
    transparent 4px
  );
  opacity: 0.5;
}

.h-status {
  color: var(--red-color);
  margin-bottom: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.blink {
  width: 8px;
  height: 8px;
  background: var(--red-color);
  border-radius: 50%;
  animation: blink 1s infinite;
}

.hero-title {
  font-family: $font-head;
  font-size: 5vw;
  line-height: 1.1; // Adjusted line-height
  text-transform: uppercase;
  margin-bottom: 40px;
}

.hero-title span {
  color: transparent; // Ensure text color is transparent for stroke effect
  -webkit-text-stroke: 1px var(--text-color);
}

.hero-divider {
  width: 80px;
  /* Adjust as needed */
  height: 2px;
  background-color: var(--red-color);
  margin: -20px 0 20px 0;
  /* Adjusted margin to fit the space better */
}

.hero-vis {
  position: relative;
  overflow: hidden;
  background: #000;
  border-left: 1px solid var(--text-color);
}

.hero-img {
  opacity: 0.8;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 1s;
}

.hero:hover .hero-img {
  filter: grayscale(0%);
  transform: scale(1.05);
  opacity: 1;
}

.vis-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, black, transparent);
  color: white;
  font-family: $font-tech;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero-vis {
    height: 300px;
    order: -1;
    border-left: none;
    border-bottom: 1px solid var(--text-color);
  }
}
