@use '../../styles/variables' as *;

.dir-row {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  border-bottom: 1px solid var(--line-color);
  padding: 40px;
  align-items: center;
  transition: 0.3s;
}
.dir-row:hover {
  background: var(--bg-color);
}

.dir-avatar {
  width: 80px;
  height: 80px;
  background: #ddd;
  border: 1px solid var(--text-color);
  filter: grayscale(100%);
  transition: 0.3s;
}
.dir-row:hover .dir-avatar {
  filter: grayscale(0%);
}

@media (max-width: 900px) {
  .dir-row {
    grid-template-columns: auto 1fr;
    gap: 20px;
  }
  .dir-row > div:last-child {
    display: none;
  }
}
