<section class="directory">
  <div class="container">
    <a href="https://youtube.com/@ProdBlaze" target="_blank" class="social-link">
      <i class="fab fa-youtube"></i>
    </a>
    <div
      style="
        padding: 40px 0;
        border-bottom: 1px solid var(--line);
        font-family: var(--font-head);
        font-size: 2rem;
      "
    >
      ACTIVE OPERATORS
    </div>

    <app-producer-row *ngFor="let producer of producers" [producer]="producer"></app-producer-row>
  </div>
</section>
