@use '../../styles/variables' as *;

.theme-toggle-btn {
  background: none;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }
}
