@use '../../styles/variables' as *;

.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  border: 1px solid var(--line-color);
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.slider.round {
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: var(--text-color);
  transition: 0.4s;
  border-radius: 50%;
  z-index: 2;
}

input:checked + .slider {
  background-color: var(--bg-color);
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.sun-icon,
.moon-icon {
  font-size: 10px;
  color: var(--text-color);
  z-index: 1;
}

.sun-icon {
  margin-left: 2px;
}

.moon-icon {
  margin-right: 2px;
}
