<div class="control-deck">
  @if (playerService.currentTrack(); as track) {
    <div class="deck-art">
      <img [src]="track.imageUrl" style="width: 100%; height: 100%; object-fit: cover" />
    </div>
    <div class="deck-info">
      <div>{{ track.title }}</div>
      <div>{{ track.bpm }} BPM - {{ track.key }}</div>
    </div>
  } @else {
    <div class="deck-art"></div>
    <div class="deck-info">
      <div>AWAITING_INPUT</div>
      <div>SELECT A TRACK TO BEGIN</div>
    </div>
  }
  <div class="waveform">
    <!-- Generating fake bars -->
    <div class="wave-bar" style="animation-delay: 0.1s"></div>
    <div class="wave-bar" style="animation-delay: 0.2s"></div>
    <div class="wave-bar" style="animation-delay: 0.3s"></div>
    <div class="wave-bar" style="animation-delay: 0.1s"></div>
    <div class="wave-bar" style="animation-delay: 0.4s"></div>
    <div class="wave-bar" style="animation-delay: 0.5s"></div>
    <div class="wave-bar" style="animation-delay: 0.2s"></div>
    <div class="wave-bar" style="animation-delay: 0.3s"></div>
    <div class="wave-bar" style="animation-delay: 0.1s"></div>
    <div class="wave-bar" style="animation-delay: 0.5s"></div>
  </div>
  <div class="deck-controls">
    <i class="fa-solid fa-backward-step ctrl-btn"></i>
    <i class="fa-solid fa-play ctrl-btn" style="color: var(--ink)"></i>
    <i class="fa-solid fa-forward-step ctrl-btn"></i>
    <i class="fa-solid fa-xmark ctrl-btn" (click)="playerService.hidePlayer()"></i>
  </div>
</div>
