@use '../../styles/variables' as *;

.control-deck {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  background: var(--bg-color);
  border: 1px solid var(--text-color);
  padding: 15px;
  display: grid;
  grid-template-columns: 60px 1fr 150px 150px;
  gap: 20px;
  align-items: center;
  z-index: 900;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.deck-art {
  width: 60px;
  height: 60px;
  background: var(--line-color);
  border: 1px solid var(--text-color);
}

.deck-info div:first-child {
  font-weight: 700;
  font-family: $font-head;
}
.deck-info div:last-child {
  font-size: 0.75rem;
  color: var(--line-color);
}

.waveform {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
}
.wave-bar {
  width: 3px;
  background: var(--line-color);
  height: 10%;
  animation: wave 1s infinite;
}
@keyframes wave {
  0%,
  100% {
    height: 20%;
  }
  50% {
    height: 100%;
  }
}

.deck-controls {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.ctrl-btn {
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.2s;
}
.ctrl-btn:hover {
  color: var(--red-color);
}

@media (max-width: 900px) {
  .control-deck {
    width: 100%;
    bottom: 0;
    border-bottom: none;
    grid-template-columns: 50px 1fr auto;
    gap: 10px;
    border-left: none;
    border-right: none;
  }
  .waveform {
    display: none;
  }
}
