<div class="toast-container">
  @for (toast of toastService.toasts(); track toast.id) {
    <div
      class="toast"
      [class]="toast.type"
      [@toastAnimation]
      (click)="toastService.remove(toast.id)"
    >
      <div class="icon-shell">
        <div class="icon">
          @if (toast.type === 'success') {
            <i class="fas fa-check"></i>
          } @else if (toast.type === 'error') {
            <i class="fas fa-xmark"></i>
          } @else {
            <i class="fas fa-info"></i>
          }
        </div>
      </div>
      <span class="message">{{ toast.message }}</span>
    </div>
  }
</div>
